<h2><%= @forum.name %> Topics:</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Name</th>
    <th>Description</th>
    <th>Tags</th>
    <th></th>
    <th></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%= link_to topic.title ,forum_topic_path(@forum,topic) %></td>
    <td><%= topic.name %></td>
    <td><%= topic.description %></td>
    <td><%= topic.associated_tags %></td>
    <%if can? :edit, topic %>
      <td><%= link_to 'Edit', edit_forum_topic_path(@forum,topic) %></td>
    <% else %>
      <td>-</td>
    <% end %>

    <%if can? :edit, topic %>
      <td><%= link_to 'Destroy',forum_topic_path(@forum,topic), :method => :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
      <td>-</td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%if can? :create, Topic %>
  <%= link_to 'New Topic', new_forum_topic_path(@forum) %>
<% end %>