<div id="notice"><%= notice %></div>

<div>
  <b>Name:</b>
  <%= @forum.name %>
</div>

<div>
  <b>Address:</b>
  <%= @forum.address %>
</div>

<div>
  <b>Email:</b>
  <%= @forum.email %>
</div>

<div>
  <b>Permalink:</b>
  <%= @forum.permalink %>
</div>
